.nav {
    background-color: #99d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 0.5rem;
}

.nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.nav a:hover {
    background-color: #eee;
}

.nav .active {
    background-color: #ddd;
}

.nav .active a {
    color: #333;
}

.nav li:last-child a {
    background-color: lightseagreen;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.nav li:last-child a:hover {
    background-color: #fff;
    color: black;
}